.container-impact {
    position: relative;
    overflow: hidden;
    background: var(--color-primary);
}

.impact-section {
    width: 1300px;
    margin: auto;
    background: var(--color-primary);
}

.impact-title {
    font-weight: 900;
    font-size: 56px;
    margin-bottom: 40px;
    color: var(--color-text-primary);
}

.impact-subsection {
    display: flex;
    gap: 80px;
}

.impact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0;
}

.impact-content-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;

}

.impact-content-item-text h3{
   color: var(--color-text-primary);
   font-weight: 700;
   font-size: 32px;
}

.impact-content-item-text p{
    color: var(--color-text-primary);
    font-weight: 400;
    font-size: 18px;
}

.impact-content-item-icon img{
    width: 44px;
    height: 44px;
    margin-top: 28px;
    border-radius: 10%;
}

.impact-image {
    z-index: 2;
}



.backtree-impact-section__1 {
    position: absolute;
    width: 648px;
    height: 800px;
    top: -18%;
    left: 80%;
    z-index: 1;
    transform: scaleX(-1);
  }